@import "tailwindcss";

body {
  font-family: sans-serif;
  background: #f4f4f4;
}

.container {
  max-width: 600px;
  margin: auto;
}

.job-card {
  background: white;
  padding: 12px;
  margin: 10px 0;
}
